.spreadsheet {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.spreadsheet-row {
    display: flex;
}

.cell {
    padding: 12px;
    border: 1px solid #ccc;
}

.color-cell {
    width: 5vw;
}

.title-cell {
    flex: 1;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.text-cell {
    flex: 4;
    white-space: pre-wrap;
    text-align: left;
}