@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

:root {
    font-family: 'Crimson Text', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --small-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    --brand-purple: #2E063D;
    --brand-yellow: #FFD203;

    --border-color: var(--brand-purple);

    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-size: 16px;
    box-shadow: var(--small-box-shadow);
    border: var(--border-color) 1px solid;
}

button {
    margin-top: 10px;
    box-shadow: var(--small-box-shadow);
    padding: 20px 150px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: var(--border-color) 1px solid;

    font-family: 'Crimson Text', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Hiding the default arrow and setting a new one - This allows custom padding */
select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("assets/svgs/arrow-drop.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
}
